.awards-shape {
  @include image-size(180px, 32px);
  margin-bottom: -46px;
}

.awards-title-main {
  @include text-style(140%, $title-font-color);
  margin-left: 35px;
  display: flex;
}

.awards-title-secondary {
  @include text-style(120%);
  opacity: 0.85;
  margin-top: 10px;
  margin-bottom: 0px;
}

.awards-title-third {
  @include text-style(110%);
  opacity: 0.78;
}

.awards-text {
  @include text-style(100%);
}
