.references {
  @include rounded-border();
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 30px;
  margin-top: 15px;
}

.references-shape {
  @include image-size(230px, 40px);
  margin-bottom: 0px;
  margin-top: -21px;
  display: flex;
  justify-self: center;
}

.references-title-main {
  @include text-style(140%, $title-font-color);
  margin-top: -33px;
  text-align: center;
}

.references-title-secondary {
  @include text-style(140%);
  opacity: 0.85;
  font-size: 120%;
  margin-top: 45px;
}

.references-title-third {
  @include text-style(140%);
}

.references-text {
  @include text-style(120%);
}
