.education {
  @include rounded-border();
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 15px;
  margin-top: 15px;
}

.education-shape {
  @include image-size(230px, 40px);
  margin-top: -20px;
  margin-bottom: -46px;
  display: flex;
  justify-self: center;
}

.education-title-main {
  @include text-style(140%, $title-font-color);
  margin-top: 13px;
  text-align: center;
}

.education-title-secondary {
  @include text-style(130%);
  font-size: 120%;
  margin-top: 40px;
}

.education-title-third {
  @include text-style(120%);
}

.education-text {
  @include text-style(100%);
}