.people-shape {
  @include image-size(170px, 5px);
  margin-top: -10px;
  margin-left: 129px;
}

.people-img {
  @include image-size(68%, auto, cover);
  margin-bottom: -140px;
  margin-left: 71px;
  border-radius: 19px;
}

.people-img-shape {
  @include image-size(68%, 116px);
  margin-top: -158px;
  margin-left: 71px;
  border-bottom-left-radius: 19px;
  border-bottom-right-radius: 19px;
  opacity: 0.55;
}

.people-title-main {
  @include text-style(
    clamp(10px, calc(20px + (41.6 * ((100vw - 320px) / 1120))), 61.6px),
    $title-font-color
  );
  margin-bottom: -14px;
  text-align: center;
}

.people-title-secondary {
  @include text-style(150%, $title-font-color);
  margin-top: 30px;
  margin-bottom: -14px;
  text-align: center;
}

.people-title-third {
  @include text-style(110%, $title-font-color);
  text-align: center;
}