.skills-icone {
  @include image-size(40px, 40px);
  margin-bottom: -65px;
}

.skills-shape-main {
  @include image-size(350px, 7px);
  margin-top: -35px;
  margin-bottom: 30px;
  margin-right: 80px;
  display: flex;
  justify-self: end;
}

.skills-progress {
  width: 250px;
  height: 20px;
  appearance: none;
  border: none;
  position: relative;
  background-color: lightgray;
  border-radius: 0;
  //overflow: hidden;

  &::-webkit-progress-bar {
    background-color: lightgray;
  }

  &::-webkit-progress-value {
    background-color: black;
    transition: width 0.3s ease;
  }

  &::-moz-progress-bar {
    background-color: black;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 30px;
    background-color: black;
    border-radius: 7px;
    z-index: 1;
    pointer-events: none;
  }
}

.skills-title-main {
  @include text-style(230%);
  margin-left: 45px;
  display: flex;
}

.skills-title-secondary {
  @include text-style(140%);
  font-size: 120%;
  margin-top: 10px;
}