.hobbies-shape {
  @include image-size(170px, 21px);
  margin-bottom: -190px;
  margin-left: 20px;
  rotate: 90deg;
}

.hobbies-title-main {
  @include text-style(220%);
  margin-left: 80px;
  margin-top: 25px;
  margin-bottom: -5px;
  display: flex;
}

.hobbies-title-secondary {
  @include text-style(130%);
  display: inline-block;
  margin-left: 75px;
  margin-bottom: 0px;
}

.underlined {
  padding-left: 55px;
  //display: inline-flex;
  border-bottom: 5px solid black;
  border-bottom-left-radius: 5px;
}

.punderlined::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  right: 90%;
  top: 92%;
  width: 75px;
  height: 5px;
  background-color: black;
}