

















//:host {

//     --bright-blue: oklch(51.01% 0.274 263.83);
//     --electric-violet: oklch(53.18% 0.28 296.97);
//     --french-violet: oklch(47.66% 0.246 305.88);
//     --vivid-pink: oklch(69.02% 0.277 332.77);
//     --hot-red: oklch(61.42% 0.238 15.34);
//     --orange-red: oklch(63.32% 0.24 31.68);

//     --gray-900: oklch(19.37% 0.006 300.98);
//     --gray-700: oklch(36.98% 0.014 302.71);
//     --gray-400: oklch(70.9% 0.015 304.04);

//     --gray-to-gray-to-gray-vertical-gradient: linear-gradient(
//       180deg,
//       var(--gray-900) 0%,
//       var(--gray-700) 25%,
//       var(--gray-400) 50%,
//       var(--gray-700) 75%,
//       var(--gray-900) 100%
//     );

//       --gray-to-gray-to-gray-horizontal-gradient: linear-gradient(
//       180deg,
//       /* var(--orange-red) 0%,
//       var(--vivid-pink) 50%,
//       var(--electric-violet) 100% */

//       var(--gray-700) 25%,
//       var(--gray-400) 50%,
//       var(--gray-700) 75%,
//       var(--gray-900) 100%
//     ); 

//      --red-to-pink-to-purple-vertical-gradient: linear-gradient(
//       90deg,
//       var(--gray-900) 0%,
//       var(--gray-400) 50%,
//       var(--gray-900) 100%
//     ); 
// }   

//    .divider {
//      width: 1px;
//     background: var(--gray-to-gray-to-gray-vertical-gradient);
//      margin-inline: 0.5rem;
//    }

//     .pill-group .pill:nth-child(6n + 1) {
//        --pill-accent: var(--gray-900);
//    }
//    .pill-group .pill:nth-child(6n + 2) {
//        --pill-accent: var(--gray-700);
//    }
//    .pill-group .pill:nth-child(6n + 3) {
//        --pill-accent: var(--gray-700);
//    }

//    .pill-group .pill:nth-child(6n + 4),
//    .pill-group .pill:nth-child(6n + 5),
//    .pill-group .pill:nth-child(6n + 6) {
//        --pill-accent: var(--gray-900);
//     } 
